language: python
python:
- '3.7'
script:
- pytest --cov=./
install:
- pip install -r requirements.txt
after_success:
- bash <(curl -s https://codecov.io/bash)
env:
  global:
  - secure: IRllGdKlMKDm8dxlSGxJPZ2xn0Jp328s+XIAyY3rvND6ipDQsVpMBAKhBdBIeL8DPgRtC9MYELkh1KbbitlI1mB6nmZgR6wGcU2zVBWts2AZ78auHSSIH60QIIXz3CYrAR+tozW0kfN+NgVuUQH5kPe0KL8rvrRuqk5wBH3CBdhgJFKspF79Umg2mwoKeLdNh4RUiPW3BZ6elY0PEkfvd37HhJhZXRDJWfFBUowl/s1d4kXVsE0xh2c40kQkANAys9ew82mAVysPhSp5I4Rwp2aPsmDeIq05msFXJv7O1WEYTIU2NANSbGNPkoE+MwSGRH5QhmBvRnta1cEBaNLTLgN4KrwrDnOaT9ckqQ3fUXNQC8deDRaH3f6yzTo7vExJyDVyRQt+XlHHk7EBe2pSPWWXtthsDJ/1UD7r0CeeU9CLFr1uEB6kDgJ266HQVsNEPsqwIk1N2ovv+GfrcHFv0UHrJ/uMONFUOAcwTp4XDVCwVTwLpMBmVIlatasnP6If07dS1C+Jj+B4f6Caa47LhrB/xbzFVvHXAGyhOG9DPg5Oq+52z61Y8jpmGb9kVTTGHnZjodMAKJjpgZNb2OPJTdps41/+PqDPHsXtQYNLaAxxBtKAfKPIsFy4j/t4OpQwnDQ9pFnpuqqLP12w4ktSRZdtPuoL0ZIOejWWxuJCdQ0=
  - secure: Vw3ljR/wFLHgPnuf93YC3oZfDPn512B9bOWJ3i5iS1TYMBYYlfi/IQyPevLpPsZUWLbmIzoS1BLSZADqpCe7k23yqoQew5WxS/uL8hSmXBMKaJNCGDbk7c3Bb+cX9NPoz9cfZs3xyHnfdeXSRqiyu2aS/IHWh5vgiQQs5KRiReociRjwvNE/za6plhUxnwhA8uqxj5TwSp/W8exdH7ZWixOCZsx9iDo5xFFSu/+Muv0Bgmusn2ArAnMDLrIbhXYvZ+fihcN9pVv5aXJo2WM2jQ7jcYV2QTk890bEu8iCzoJBISLN4p8I4Mf4+vdGfZLh0ykrRAHLoVlGB8CACvaw0l+Pby2aAvMDiE4rjlVrAcyBbUzDUqWCRRviLoYe4zVdu5KkFY6s1h1yQSWttrz2hA31K8BgxtpbY9xeaCWLz7Y3RL2NjNTvdIoQXQ2LY6tw2X2KgD5Le2gq3CSNexVfNkgtfR8lBzJlWbFbQj5dShGxvq9cGg62Oqf8UTxZi+QmmqctothnfAOtxFwGtAydSgzL/DaCsj4e68SqxX6jD7JqSGptCYLvG4mFBP8rApjTJLXZEX9daLrflzlPaUiTCOBHviNZ2vstneAeEkLsLzHBPXJOOCW5oZiFc9fDjvGNiXzqD59s6iCj/E+a0HiaZGR1JbdYR2/vgxjEHu9BV94=
